extends layout

block content
  .global-alert(data-offset-top="0",bs-affix)
    .container.fixed
      .row
        p.col-xs-12
          span.fa.fa-warning &nbsp;
          strong BETA&nbsp;
          | - We are still testing this, please <a class="btn btn-primary" ui-sref="app.dashboard.feedback">submit any issues</a> you encounter
  header.global-header
    .container
      .row
        .col-xs-12
          a.header-logo
            img(src="/intranet-static/imgs/njc-logo.png")
            h1.header-title NJC Intranet
          nav.header-nav
            ul
              li
                a(ui-sref="app.dashboard") Home
              li
                a(ui-sref="app.news.index") Calendar
              li
                a(ui-sref="app.documents.index") Documents
              li
                a(ui-sref="app.staff.index") Staff
              li
                a(ui-sref="auth.logout") Logout
      .row.top-widget.notices-widget
         .col-xs-12
           njc-notices
  main
    .page(ui-view)
  footer.global-footer
    .container
      .row
        .col-xs-12
