extends layout

block content
  header.global-header
    .container
      .row
        .col-xs-12
          a.header-logo
            img(src="/intranet-static/imgs/njc-logo.png")
            h1.header-title NJC
          nav.header-nav
            ul
              li
                a(ui-sref="staff.index") Home
              li
                a(ui-sref="documents.index") Documents
              //
                li
                  a(ui-sref="staff") Staff
              li
                a(ui-sref="logout") Logout
  //
    TODO: Add search functionality
    .row
      .col-xs-12
        input.form-control.search-field(type='text', placeholder='Search for a document, staff member or general information', ng-model='vm.search_filter', ng-change='vm.filter()')
  main
    .page(ui-view)
  footer.global-footer
    .container
      .row
        .col-xs-12
