doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/intranet-static/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/intranet-static/vendor/angular-toastr/dist/angular-toastr.min.css')

    link(rel='stylesheet', href='/intranet-static/css/njc-base.css')
    link(rel="stylesheet/less", type="text/css", href='/intranet-static/less/app.less')
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js")

    script(type="text/javascript", src="/intranet-static/vendor/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/lodash/dist/lodash.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/api-check/dist/api-check.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/moment/min/moment.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular/angular.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-file-upload/dist/angular-file-upload.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-toastr/dist/angular-toastr.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-toastr/dist/angular-toastr.tpls.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-formly/dist/formly.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-moment/angular-moment.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-ui-router/release/angular-ui-router.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-cache/dist/angular-cache.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-strap/dist/angular-strap.min.js")
    script(type="text/javascript", src="/intranet-static/vendor/angular-strap/dist/angular-strap.tpl.min.js")
    script(type="text/javascript", src="/intranet-static/js/modules.js")
    script(type="text/javascript", src="/intranet-static/js/directives/filter-tab.directive.js")
    script(type="text/javascript", src="/intranet-static/js/directives/weather.directive.js")
    script(type="text/javascript", src="/intranet-static/js/directives/notices.directive.js")
    script(type="text/javascript", src="/intranet-static/js/directives/update-in-out-status.directive.js")
    script(type="text/javascript", src="/intranet-static/js/directives/duty-worker.directive.js")
    script(type="text/javascript", src="/intranet-static/js/directives/news-updates.directive.js")
    script(type="text/javascript", src="/intranet-static/js/services/topic.service.js")
    script(type="text/javascript", src="/intranet-static/js/services/category.service.js")
    script(type="text/javascript", src="/intranet-static/js/services/document.service.js")
    script(type="text/javascript", src="/intranet-static/js/services/staff.service.js")
    script(type="text/javascript", src="/intranet-static/js/services/team.service.js")
    script(type="text/javascript", src="/intranet-static/js/controllers/login.controller.js")
    script(type="text/javascript", src="/intranet-static/js/controllers/dashboard.controller.js")
    script(type="text/javascript", src="/intranet-static/js/controllers/staff-index.controller.js")
    script(type="text/javascript", src="/intranet-static/js/controllers/staff-new.controller.js")
    script(type="text/javascript", src="/intranet-static/js/controllers/staff-update.controller.js")
    script(type="text/javascript", src="/intranet-static/js/controllers/documents-index.controller.js")
    script(type="text/javascript", src="/intranet-static/js/controllers/documents-new.controller.js")
    script(type="text/javascript", src="/intranet-static/js/controllers/documents-view.controller.js")
    script(type="text/javascript", src="/intranet-static/js/app.js")
  body.njc.njc-intranet
    .wrapper(ng-app="njcIntranetApp", ng-cloak)
      block content
