doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/angular-toastr/dist/angular-toastr.min.css')
    link(rel="stylesheet/less", type="text/css", href='/less/app.less')
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js")

    script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/vendor/lodash/lodash.min.js")
    script(type="text/javascript", src="/vendor/api-check/dist/api-check.min.js")
    script(type="text/javascript", src="/vendor/moment/min/moment.min.js")
    script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="/vendor/angular/angular.min.js")
    script(type="text/javascript", src="/vendor/angular-file-upload/dist/angular-file-upload.min.js")
    script(type="text/javascript", src="/vendor/angular-toastr/dist/angular-toastr.min.js")
    script(type="text/javascript", src="/vendor/angular-toastr/dist/angular-toastr.tpls.min.js")
    script(type="text/javascript", src="/vendor/angular-formly/dist/formly.min.js")
    script(type="text/javascript", src="/vendor/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js")
    script(type="text/javascript", src="/vendor/angular-moment/angular-moment.min.js")
    script(type="text/javascript", src="/vendor/angular-ui-router/release/angular-ui-router.min.js")
    script(type="text/javascript", src="/vendor/angular-cache/dist/angular-cache.min.js")
    script(type="text/javascript", src="/js/modules.js")
    script(type="text/javascript", src="/js/services/document.service.js")
    script(type="text/javascript", src="/js/controllers/login.controller.js")
    script(type="text/javascript", src="/js/controllers/home.controller.js")
    script(type="text/javascript", src="/js/controllers/documents-index.controller.js")
    script(type="text/javascript", src="/js/controllers/documents-new.controller.js")
    script(type="text/javascript", src="/js/app.js")
  body
    div.njc-intranet(ng-app="njcIntranetApp")
      block content
