<main class="page new-document container" id="documents-new">
  <div class="row">
    <div class="col-xs-12">
      <h2>Add new document</h2>
    </div>
  </div>
  <div class="row">
    <form method="post" enctype="multipart/form-data" class="col-xs-6" ng-submit="vm.submit()">
      <formly-form model="vm.document" fields="vm.fields">
        <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span>
            </li>
        </ul>
        <button class="btn btn-primary" type="submit">
          <span class="fa fa-save"></span>&nbsp;Add document
        </button>
      </formly-form>
    </form>
  </div>
</main>
