<section class="page staff container" id="staff-index">
  <div class="row">
    <div class="col-xs-12">
      <h2>Staff</h2>
    </div>
  </div>
  <div class="row duty-worker">
  </div>
  <div class="row">
    <div class="col-xs-9">
      <filter-tabs tabs="vm.teams" active="vm.activeTab" default=""></filter-tabs>
    </div>
    <div class="col-xs-3 text-right">
      <button class="btn btn-primary" ui-sref="staff.new">
        <span class="fa fa-upload"></span>&nbsp;Add staff member
      </button>
    </div>
  </div>
  <div class="staff-listing">
    <table class="table table-condensed">
      <tbody>
        <tr class="staff-member" ng-repeat="staff_member in vm.staff | filter:vm.activeTab">
          <td class="staff-member-avatar text-center"><span class="fa fa-user fa-3x"></span></td>
          <td class="staff-member-details-name">{{ staff_member.name }}</td>
          <td class="staff-member-details-role">{{ staff_member.organisation.role }}</td>
          <td class="staff-member-details-team">{{ staff_member.organisation.team }}</td>
          <td class="staff-member-status" ng-if="staff_member.status.in">Currently in</td>
          <td class="staff-member-status-in" ng-if="staff_member.status.in"><span class="fa fa-circle fa-2x"></span></td>
          <td class="staff-member-status text-center" ng-if="!staff_member.status.in">Currently out</td>
          <td class="staff-member-status-out text-center" ng-if="!staff_member.status.in"><span class="fa fa-circle fa-2x"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
