<section class="page new-staff container" id="staff-new">
  <div class="row">
    <div class="col-xs-12">
      <h2>Add new staff</h2>
    </div>
  </div>
  <div class="row">
    <form method="post" enctype="multipart/form-data" class="col-xs-6" ng-submit="vm.submit()">
      <formly-form model="vm.model" fields="vm.fields">
        <button class="btn btn-primary" type="submit">
          <span class="fa fa-save"></span>&nbsp;Add staff member
        </button>
      </formly-form>
    </form>
  </div>
</section>
