<main class="page staff container" id="staff-index">
  <div class="row">
    <div class="col-xs-12">
      <h2>Staff</h2>
    </div>
  </div>
  <div class="row duty-worker">

  </div>
  <div class="row">
    <div class="col-xs-9">
      <ul class="filter-tab">
        <li class="filter-tab-item" ng-repeat="team in vm.teams">
          <a class="{{ category.active }}">{{ team.title }}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-3 text-right">
      <button class="btn btn-primary" ui-sref="staff.new">
        <span class="fa fa-upload"></span>&nbsp;Add staff member
      </button>
    </div>
  </div>
  <div class="row staff-listing">
    <div class="col-xs-12 staff-member" ng-repeat="staff_member in vm.staff">
      <h3 class="staff-member-name">{{ staff_member.name }}</h3>
      <span class="staff-member-role">{{ staff_member.organisation.role }}</span>
      <span class="staff-member-status">{{ staff_member.status.in }}</span>
    </div>
  </div>
</main>
