<section class="page staff container" id="staff-index">
  <div class="row">
    <div class="col-xs-12">
      <h2>Staff</h2>
    </div>
  </div>
  <div class="row duty-worker">

  </div>
  <div class="row">
    <div class="col-xs-9">
      <filter-tabs tabs=vm.teams></filter-tabs>
    </div>
    <div class="col-xs-3 text-right">
      <button class="btn btn-primary" ui-sref="staff.new">
        <span class="fa fa-upload"></span>&nbsp;Add staff member
      </button>
    </div>
  </div>
  <div class="staff-listing">
    <div class="row staff-member" ng-repeat="staff_member in vm.staff">
      <div class="staff-member-avatar col-xs-3">
        <span class="fa fa-user fa-3x"></span>
      </div>
      <div class="staff-member-details col-xs-6">
        <h3 class="staff-member-details-name">{{ staff_member.name }}</h3>
        <span class="staff-member-details-role">{{ staff_member.organisation.role }}</span>
      </div>
      <div class="staff-member-status col-xs-3" ng-if="staff_member.status.in">
        <span class="staff-member-status-text">Currently in</span>
        &nbsp;<span class="staff-member-status-in"></span>
      </div>
      <div class="staff-member-status col-xs-3" ng-if="!staff_member.status.in">
        <span class="staff-member-status-text">Currently out</span>
        &nbsp;<span class="staff-member-status-out"></span>
      </div>
    </div>
  </div>
</section>
