<section ng-cloak class="page documents container" id="document-view">
  <!-- WHEN YOU VIEW A DOC, SHOULD SEE DETAILS INCLUDING LINK TO FILE G: / public -->
  <div class="row">
    <pre>
      {{ vm.document | json }}
    </pre>
    <div class="col-xs-12">
      <h2>{{ vm.document.metadata.type }} - {{ vm.document.title }}</h2>
    </div>
  </div>
  <div class="document-details">
    <div class="row">
      <p ng-if="vm.document.description" class="col-xs-12">{{ vm.document.description }}</p>
      <p ng-if="!vm.document.description" class="col-xs-12">No description has been added for this file</p>
    </div>
  </div>
</section>
