<section ng-cloak class="documents-list page">
  <div ng-repeat="group in filtered = (documents)">
    <div class="row document-group">
      <div class="document-group-title col-xs-12">
        <h4 class="document-group-title-text">{{ group.category }}</h4>
      </div>
      <div class="document-group-content col-xs-12">
        <ul>
          <li class="document-group-item row" ng-repeat="doc in group.documents | filter:search">
            <p class="col-xs-8">
              <span class="fa fa-file"></span>&nbsp;
              <!--<a ui-sref="app.documents.view({id: doc._id})">{{ doc.title }}</a>-->
              <a ng-if="doc.location.url" href="{{ doc.location.url}}">{{ doc.title }}</a>
              <span ng-if="!doc.location.url">{{ doc.title }}</span>
            </p>
            <p class="col-xs-4 text-right">
              <button ui-sref="documents.edit({id: doc._id})" class="btn btn-default" name="button">
                Edit&nbsp;<span class="fa fa-pencil"></span>
              </button>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
