.staff {}

.staff-listing {

  table tbody  tr td {
    padding-top:1.5em;
  }

  .staff-member {
    position:relative;
    background:white;
    margin-bottom:1em;
  }

  .staff-member-avatar {
    padding:0.5em 0;
  }

  .staff-member-details-staff span {
    padding:0 0.5em;
  }

  .staff-member-details-name {
    margin-top:0.5em;
  }

  .staff-member-details-role {
    font-size:small;
  }

  .staff-member-status-in {color:@green;}
  .staff-member-status-out {color:@red;}
  .staff-member-status-text {
    color:@dark-grey;
    text-transform: capitalize;;
  }

}
