@staff-col:@light-blue-2;

.staff .page-title {
  border-color:@staff-col;
}


.staff-member-status-out {
  .fa-circle {color:@red;}
}

.staff-member-details-name {
  font-size:1em;
  font-weight:bold;
}

.staff-member-status-in {color:@green;}
.staff-member-status-out {color:@red;}
.staff-member-status-text {
  color:@dark-grey;
  text-transform: capitalize;;
}
