.vertical-centre {
  height:100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align:center;
  -webkit-align-items:center;
  -webkit-box-align:center;

  align-items:center;
  text-align:center;
  justify-content: center;
}

.vertical-center {
  &:extend(.vertical-centre);
}

@title-size:1.5em;
.generic-title {
  margin-top:1em;
  margin-bottom:1em;
  h1 {
    font-size:@title-size;
    font-weight:bold;
    margin:0;
  }
  text-transform: uppercase;
  border-left:solid @title-size/2;
  padding-left:0;
  margin-left:0;
}
